.skill {
  width: 100%;
  background: #111948;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 3em;
  z-index: 99;

  &_separator {
    width: 100%;
    position: absolute;
    top: 0;
  }

  &_container {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 75em;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &_parallax {
      width: 100%;
      text-align: center;
      height: 4em;
    }

    &_box {
      width: 30em;
      height: 100px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233C5EFFFF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='55' stroke-linecap='square'/%3e%3c/svg%3e");
      margin-top: 10em;
    }

    &_skills {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;

      &_article {
        border: 1px solid #6f66ec;
        padding: 2em;
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        word-break: break-all;
        width: 15em;
        margin-top: 1em;

        h3 {
          color: #7066ed;
        }

        &_content {
          font-size: 0.8em;
          span {
            font-weight: bold;
          }

          ul {
            list-style: none;
            line-height: 1.5em;
            padding-left: 0;
          }

          ul li::before {
            content: '>';
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .skill {
    &_container {
      padding-left: 0em;
      padding-right: 0em;

      &_box {
        width: 15em;
        margin-top: 1em;
      }

      &_skills {
        &_article {
          margin-left: 0em;
        }
      }
    }
  }
}
