.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;

  &_container {
    width: 100%;
    transform: translate3d(-7px, 0px, 0px);

    &_img {
      margin-left: 1em;
      cursor: pointer;
    }
  }
}
